WaiterManagement/BarManager/Service References/ManagerDataAccessWCFService/DataAccess2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://thestation/DataAccessIISHost/DataAccess.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ClassLib.DbDataStructures" />
  <xs:element name="LogIn">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="login" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LogInResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ClassLib.DbDataStructures" minOccurs="0" name="LogInResult" nillable="true" type="q1:UserContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LogOut">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LogOutResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LogOutResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMenuItemCategories">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMenuItemCategoriesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ClassLib.DbDataStructures" minOccurs="0" name="GetMenuItemCategoriesResult" nillable="true" type="q2:ArrayOfMenuItemCategory" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMenuItems">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMenuItemsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ClassLib.DbDataStructures" minOccurs="0" name="GetMenuItemsResult" nillable="true" type="q3:ArrayOfMenuItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTables">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTablesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ClassLib.DbDataStructures" minOccurs="0" name="GetTablesResult" nillable="true" type="q4:ArrayOfTable" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddManager">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="firstName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="lastName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="login" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddManagerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/ClassLib.DbDataStructures" minOccurs="0" name="AddManagerResult" nillable="true" type="q5:UserContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddMenuItemCategory">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="managerId" type="xs:int" />
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddMenuItemCategoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/ClassLib.DbDataStructures" minOccurs="0" name="AddMenuItemCategoryResult" nillable="true" type="q6:MenuItemCategory" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditMenuItemCategory">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="managerId" type="xs:int" />
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/ClassLib.DbDataStructures" minOccurs="0" name="menuItemCategoryToEdit" nillable="true" type="q7:MenuItemCategory" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditMenuItemCategoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EditMenuItemCategoryResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveMenuItemCategory">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="managerId" type="xs:int" />
        <xs:element minOccurs="0" name="categoryId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveMenuItemCategoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RemoveMenuItemCategoryResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddMenuItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="managerId" type="xs:int" />
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="categoryId" type="xs:int" />
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/ClassLib.DbDataStructures" minOccurs="0" name="price" nillable="true" type="q8:Money" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddMenuItemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/ClassLib.DbDataStructures" minOccurs="0" name="AddMenuItemResult" nillable="true" type="q9:MenuItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditMenuItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="managerId" type="xs:int" />
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/ClassLib.DbDataStructures" minOccurs="0" name="menuItemToEdit" nillable="true" type="q10:MenuItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditMenuItemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EditMenuItemResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveMenuItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="managerId" type="xs:int" />
        <xs:element minOccurs="0" name="menuItemId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveMenuItemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RemoveMenuItemResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddWaiter">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="managerId" type="xs:int" />
        <xs:element minOccurs="0" name="firstName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="lastName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="login" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddWaiterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/ClassLib.DbDataStructures" minOccurs="0" name="AddWaiterResult" nillable="true" type="q11:UserContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditWaiter">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="managerId" type="xs:int" />
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/ClassLib.DbDataStructures" minOccurs="0" name="waiterToEdit" nillable="true" type="q12:UserContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditWaiterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EditWaiterResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveWaiter">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="managerId" type="xs:int" />
        <xs:element minOccurs="0" name="waiterId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveWaiterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RemoveWaiterResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWaiters">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="managerId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWaitersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/ClassLib.DbDataStructures" minOccurs="0" name="GetWaitersResult" nillable="true" type="q13:ArrayOfUserContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddTable">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="managerId" type="xs:int" />
        <xs:element minOccurs="0" name="tableNumber" type="xs:int" />
        <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddTableResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/ClassLib.DbDataStructures" minOccurs="0" name="AddTableResult" nillable="true" type="q14:Table" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditTable">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="managerId" type="xs:int" />
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/ClassLib.DbDataStructures" minOccurs="0" name="tableToEdit" nillable="true" type="q15:Table" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditTableResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EditTableResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveTable">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="managerId" type="xs:int" />
        <xs:element minOccurs="0" name="tableId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveTableResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RemoveTableResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrders">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="managerId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrdersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/ClassLib.DbDataStructures" minOccurs="0" name="GetOrdersResult" nillable="true" type="q16:ArrayOfOrder" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="managerId" type="xs:int" />
        <xs:element minOccurs="0" name="orderId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveOrderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RemoveOrderResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>